nav{
    background-color: blueviolet;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 5px;
    margin-bottom: 0px;
}
ul{
    margin-bottom: 3px;

}
ul li{
    display: inline;
    padding:10px;
    margin-right: 20px;
    margin-bottom: 0px;

}
ul li a{
    text-decoration: none;
    color: white;
    margin-bottom: 0px;

}
ul li:hover{
    text-decoration: none;
    color: white;
    border: 1px white;
    margin-bottom: 0;
    background-color: rgb(77, 26, 124);
    border-radius: 4px;
    box-shadow: 5px 5px 5px white;
}